.skills {
    @include title;
    padding: 0 1rem;
  
    &__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
    }
  
    &__card {
      width: 300px;
      height: 200px;
      @include flex-center;      
      flex-direction: column;
      text-align: center;
      padding: 1rem;
      margin: 0.5rem;
      background-color: white;
      border-radius: 0.5rem;
  
      &-title {
        display: block;
        font-size: 1.25rem;
        color: $background;
      }
  
      i {
        display: block;
        font-size: 3rem;
        color: $background;
      }
  
      &:hover {
        .skills__card-title {
          color: $primary;
        }
  
        i {
          color: $primary;
        }
      }
    }
  }
  
  // Responsive breakpoints
  @include media-md {
    .skills {
      padding: 0 4rem;
  
      &__card {
        width: 250px;
        height: 150px;
        flex-basis: calc(100% / 5 - 1rem);
      }
    }
  }
  
  @include media-lg {
    .skills {
      padding: 0 10rem;
  
      &__card {
        width: 200px;
        height: 150px;
        flex-basis: calc(100% / 6 - 1rem);
      }
    }
  }